# TODO: Add BeeSpeaker API credentials when available
# VITE_API_BASE_URL=https://api.beespeaker.com
# VITE_APP_STORE_URL=https://apps.apple.com/app/beespeaker
# VITE_PLAY_STORE_URL=https://play.google.com/store/apps/beespeaker
# VITE_STRIPE_PUBLIC_KEY=pk_live_xxxxxxxxxxxxx